@keyframes rotate {
  100% {
    background-position: 0% 50%;
  }
}

:root{
  --primary-color: #d5ddee;
  --secondary-color: #333131; 
  --background-clr: #212121;
  --background-clr2: #edf2fc;
  --input-clr: #5a4f79;

}

.dark-theme{
   --primary-color: #181717;
   --secondary-color: #fff; 
   --background-clr: #fff;
   --background-clr2: #212121;
   --input-clr: #edf2fc;
}

body {
  margin-top: 10rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
}

footer {
  margin-top: 1rem;
  bottom: 0;
  width: 100.6%;
}

h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: -0.2rem;
}

span {
  color: rgb(202, 202, 202);
  margin-bottom: 2rem;
}

section {
  background: white;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: var(--secondary-color);
  max-width: 24rem;
  border-radius: 20px;
}

.gender {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color:#181717;
}

.haveaccount {
  margin-bottom: 6rem;
}

input {
  width: 22rem;
  height: 56px;
  padding: 0 16px;
  margin: 8px 0;
  border: 0;
  border-radius: 8px;
  outline: none;
  background: var(--primary-color);
  color: var(--input-clr);
  font-size: 16px;
}

label {
  color:var(--background-clr);
}

input[type="radio"] {
  -ms-transform: scale(0.4); /* IE 9 */
  -webkit-transform: scale(0.4); /* Chrome, Safari, Opera */
  transform: scale(0.4);
  width: 1.9em;
  height: 1.9em;
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  position: relative;
  /* position */
  margin-right: 0.1em;
  margin-top: -2px;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

button {
  margin-top: 2rem;
  font-weight: bold;
  letter-spacing: 2;
  width: 24rem;
  height: 56px;
  border-radius: 8px;
  background-color: #fc68a7;
  border: none;
  font-size: 16px;
  color: white;
  margin-bottom: 2rem;
  transition: 0.3s;
}

hr {
  width: 100%;
}

button:hover {
  background-color: #da377e;
  transition: ease 0.3s;
  cursor: pointer;
}

/* DarkMode */
body.dark {
  background-color: var(--background-clr);
  color: var(--background-clr2);
}

body.dark h2 {
  color: var(--background-clr);
}

body.dark section {
  background: var(--background-clr2);
}

body.dark span {
  color: var(--background-clr);
}

body.dark {
  background-color: var(--background-clr);
  color: var(--background-clr2);
}

body.dark .login-card {
  background: var(--background-clr2);
}

body.dark h2 {
  color: var(--background-clr);
}

body.dark section {
  background: var(--background-clr2);
}

body.dark h3 {
  color: var(--background-clr);
}

body.dark .gender {
  color:rgb(202, 202, 202);
}
/*prueba login*/
.redirect {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(13, 206, 190);
}

.redirect:hover {
  color: #fc68a7;
}